<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/stylesheets/jsonFileUpload.css">
<head>
  <title>Upload de Arquivo</title>
</head>
<body>
  <h1>Upload de Arquivo</h1>
  
  <!-- File loader -->
  <input type="file" id="fileInput">
  
  <!-- Botão de envio -->
  <button onclick="carregaArquivo()">Processar</button>
    
  <!-- Ajax loader -->
  <div id="ajaxLoader" style="display: none;">
    Carregando...
  </div>
  
  <!-- Scripts -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/jsonFileUploadScripts.js"></script>

</body>
</html>